<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sshelt Gamble</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main class="home-container">
        <h1>Welcome to Xiaojie Gamble</h1>
        <button class="btn" onclick="location.href='/login'">Log In</button>
        <button class="btn" onclick="location.href='/signup'">Sign Up</button>
    </main>
</body>
</html>
